@font-face{
    font-family: 'Graphik';
    src: url("./fonts/Graphik-Regular.otf")
}

@font-face{
    font-family: 'Graphik';
    src: url("./fonts/Graphik-Medium.otf");
    font-weight: bold;
}

body{  
    margin: 0;
    font-family: 'Graphik', sans-serif;
    background: #e9ebee;
}
header{
    width: 100%;
    float: left;
    background: #008AE6;
    position: sticky;
    top: 0;
}
.main_head{
    margin: auto;
    max-width: 1300px;
}
.left_head{
    float: left;
}
.logo{
    width: 34px;
    height: 34px;
    margin: 5px 0;
    vertical-align: middle;
    float: left;
}
.search{
    float: right;
}
.icon_search{
    width: 10px;
    height: 10px;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu_head{
    margin-top: 13px;
    float: left;
}
.menu_head a{
    padding: 14px 28px;
    color: #222;
    font-weight: 700;
}
.menu_head li{
    display: inline-block;
}
.wrapper{
    max-width: 1350px;
    display: table;
    margin: 0 auto;   
}
.trend{
    height: 250px;
    border: 1px solid #333;
}
.content{
    margin-top: 15px;
}
.left_content{
    box-sizing: border-box;
    float: left;
    width: 300px;
    height: 1000px;
    overflow: auto;
}
summary{
    padding: 15px 15px 15px 0;
    color: #222;
    background: #008AE6;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #333;
    outline: none;
}
.parent-menu a{
    text-decoration: none;
    width: 100%;
    padding: 15px;
    display: flex;
    box-sizing: border-box;
}
.main_content{
    margin-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 705px;
    height: 1000px;
    border: 1px solid #333;
}
.right_content{
    box-sizing: border-box;
    float: left;
    width: 265px;
    margin-left: 15px;
    height: 1000px;
    border: 1px solid #333;
}
footer{
    width: 100%;
    height: 300px;
    float: left;
    background: #008AE6;
}

